#config file for reddit instance

USERNAME="" 
# Reddit username

PWD=""
# Reddit Password

CLIENT_ID=""
# Client id 

CLIENT_SECRET=""

USER_AGENT = "Mozilla/5.0 (Windows NT x.y; rv:10.0) Gecko/20100101 Firefox/10.0"

MICROSOFT_AZURE_KEY = ""

BACKGROUND_VIDEO_PATH = ""
# DO NOT CHANGE THIS UNLESS YOU KNOW WHAT YOU'RE DOING PLZ


